.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0c0c0;
}

.error {
    margin-top: 10px;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    width: 100%;
    text-align: center;
}
