<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Who Knows?</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="page">
        <nav class="navigation">
            <h1><a id="nav-logo" href="/">¿Who Knows?</a></h1>
            {{ if .UserLoggedIn }}
                <a id="nav-logout" href="/api/logout">Log out</a>
            {{ else }}
                <a id="nav-login" href="/login">Log in</a>
                <a id="nav-register" href="/register">Register</a>
            {{ end }}
        </nav>

        <main>
            <div class="body">
                <div class="search">
                    <form action="/api/search" method="GET">
                        <input type="text" name="q" placeholder="Search..." value="{{.Query}}">
                        <button type="submit">Search</button>
                    </form>
                </div>

                <div class="weather">
                    <form action="/api/weather" method="GET">
                        <input type="text" name="city" placeholder="City..." required>
                        <button type="submit">Check</button>
                    </form>
                </div>
            </div>
        </main>

        <footer>
            <span>¿Who Knows? &copy; 2025</span>
            <a href="/about">About</a>
        </footer>
    </div>
</body>

</html>