<!DOCTYPE html>
<html lang="eng">
    <head>
        <title> {{ .Title }} </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>

        <nav class="navigation">
            <h1><a id="nav-logo" href="/">¿Who Knows?</a></h1>
            <a id="nav-login" href="#">Log in</a>
            <a id="nav-register" href="#">Register</a>
        </nav>
        <div>
            {{ block "content" . }}{{ end }}
        </div>

        <footer>
            <span>¿Who Knows? &copy; 2025</span>
            <a href="#">About</a>
        </footer>

    </body>
</html>