<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weather in {{.City}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="page">
        <nav class="navigation">
            <a href="/">Home</a>
        </nav>

        <main> 
            <h1>Weather in {{.City}}</h1>
            <p>{{.Message}}</p>
            <a href="/">Back to home</a>
        </main> <!-- Lukker main -->

        <footer>
            <span>¿Who Knows? &copy; 2025</span>
            <a href="/about">About</a>
        </footer>
    </div>
</body>
</html>
